@{
    ViewData["Title"] = "QUADS...NeverSkipLegDay";
}

@model List<TaskResponse>

<div class="container">

    <div class="row"><!--ROW 1-->

        <div class="col">

        </div>

        <div class="col">
            <h1>URGENT</h1>
        </div>

        <div class="col">
            <h1>NOT URGENT</h1>
        </div>

    </div>


    <div class="row">
        <!--ROW 2-->

        <div class="col">
            <h1>IMPORTANT</h1>
        </div>

        <!--QUADRANT 1-->
        <div class="col">
            <table>
                @foreach (var task in Model)
                {
                    @if (@task.Quadrant == 1)
                    {
                        <tr>
                            <td id="taskName">@task.TaskName</td>
                            @if (task.CategoryId == 1)
                            {
                                <td id="dueDate">Home</td>
                            }
                            @if (task.CategoryId == 2)
                            {
                                <td id="dueDate">School</td>
                            }
                            @if (task.CategoryId == 3)
                            {
                                <td id="dueDate">Work</td>
                            }
                            @if (task.CategoryId == 4)
                            {
                                <td id="dueDate">Church</td>
                            }
                            <td id="dueDate">@task.DueDate</td>
                            <td id="completed">@task.Completed</td>
                        </tr>
                    }
                }
            </table>
        </div>

        <!--QUADRANT 2-->
        <div class="col">
            <table>
                @foreach (var task in Model)
                {
                    @if (@task.Quadrant == 2)
                    {
                        <tr>
                            <td id="taskName">@task.TaskName</td>
                            @if (task.CategoryId == 1)
                            {
                                <td id="dueDate">Home</td>
                            }
                            @if (task.CategoryId == 2)
                            {
                                <td id="dueDate">School</td>
                            }
                            @if (task.CategoryId == 3)
                            {
                                <td id="dueDate">Work</td>
                            }
                            @if (task.CategoryId == 4)
                            {
                                <td id="dueDate">Church</td>
                            }
                            <td id="dueDate">@task.DueDate</td>
                            <td id="completed">@task.Completed</td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>


    <div class="row">
        <!--ROW 3-->
        <div class="col">
            <h1>NOT IMPORTANT</h1>
        </div>

        <!--QUADRANT 3-->
        <div class="col">
            <table>
                @foreach (var task in Model)
                {
                    @if (@task.Quadrant == 3)
                    {
                        <tr>
                            <td id="taskName">@task.TaskName</td>
                            @if (task.CategoryId == 1)
                            {
                                <td id="dueDate">Home</td>
                            }
                            @if (task.CategoryId == 2)
                            {
                                <td id="dueDate">School</td>
                            }
                            @if (task.CategoryId == 3)
                            {
                                <td id="dueDate">Work</td>
                            }
                            @if (task.CategoryId == 4)
                            {
                                <td id="dueDate">Church</td>
                            }
                            <td id="dueDate">@task.DueDate</td>
                            <td id="completed">@task.Completed</td>
                        </tr>
                    }
                }
            </table>
        </div>

        <!--QUADRANT 4-->
        <div class="col">
            <table>
                @foreach (var task in Model)
                {
                    @if (@task.Quadrant == 4)
                    {
                        <tr>
                            <td id="taskName">@task.TaskName</td>
                            @if (task.CategoryId == 1)
                            {
                                <td id="dueDate">Home</td>
                            }
                            @if (task.CategoryId == 2)
                            {
                                <td id="dueDate">School</td>
                            }
                            @if (task.CategoryId == 3)
                            {
                                <td id="dueDate">Work</td>
                            }
                            @if (task.CategoryId == 4)
                            {
                                <td id="dueDate">Church</td>
                            }
                            <td id="dueDate">@task.DueDate</td>
                            <td id="completed">@task.Completed</td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>
</div>